@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --background: #171717;
    --foreground: #d6d6f5;

    --card: #1c1c1c;
    --card-foreground: #d6d6f5;

    --popover: #1c1c1c;
    --popover-foreground: #d6d6f5;

    --primary: #8162FF;
    --primary-foreground: #ffffff;

    --secondary: #26272B;
    --secondary-foreground: #d6d6f5;

    --muted: #2e2e2e;
    --muted-foreground: #adb5bd;

    --accent: #2e2e2e;
    --accent-foreground: #d6d6f5;

    --destructive: #e63946;
    --destructive-foreground: #d6d6f5;

    --border: #2e2e2e;
    --input: #2e2e2e;
    --ring: #a0aec0;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {

    @apply bg-background text-foreground;
  }
}

